<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PBJar CTF</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="../assets/img/favicon.ico" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../assets/css/style.css" rel="stylesheet">
  <link href="../assets/css/ctf.css" rel="stylesheet">

</head>

<body>
  <script type="text/javascript"> 
    var socket = io.connect();

  </script>




  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="../index2.html">PBjar CTF<span>.</span></a></h1>


      <nav id="navbar" class="navbar">
        <ul>
          <a href="https://discord.gg/HcS4efUSyJ"><img src="../assets/img/discord.png" style="width:50px; padding-right:25%"></a>
          <li><a class="nav-link scrollto " href="../index2.html">Home</a></li>
          <li><a class="nav-link scrollto " href="/leaderboard">Leaderboard</a></li>
          <li><a class="nav-link scrollto active" href="/challenges">Challenges</a></li>
          <li><a class="nav-link scrollto " href="/team">Team</a></li>
          <li><a class="nav-link scrollto " href="/logout">Logout</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>


  <main id="main">
  <div class="section-title">
          <h2>Challenges</h2>
  </div>

  <div class="row" style="justify-content: center;margin: 0;margin-bottom: 50px;display: flex;">
    <div class="col-3">
      <div class="challengeBox">
        <b style="font-size: 18px;margin-bottom: 5px;">Filters</b>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-solved">
          <label class="form-check-label" for="checkbox-solved" id="display-solvecount">
            Show Solved (0/0 solved)
          </label>
        </div>
      </div>
      <div class="challengeBox">
        <b style="font-size: 18px;margin-bottom: 5px;">Categories</b>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-crypto">
          <label class="form-check-label" for="checkbox-crypto">
            crypto (<a id="crypto-solve">0/0</a> solved)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-misc">
          <label class="form-check-label" for="checkbox-misc">
            misc (<a id="misc-solve">0/0</a> solved)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-pwn">
          <label class="form-check-label" for="checkbox-pwn">
            pwn (<a id="pwn-solve">0/0</a> solved)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-rev">
          <label class="form-check-label" for="checkbox-rev">
            rev (<a id="rev-solve">0/0</a> solved)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-web">
          <label class="form-check-label" for="checkbox-web">
            web (<a id="web-solve">0/0</a> solved)
          </label>
        </div>
      </div>
    </div>
    <div class="col-6" id="challengesDisplay">
      <div class="challengeBox" id="1">
          <div class="row">
            <div class="col-6">
              <div class="chal-title"> Chall 1<br></div>
                <div class="chal-author"> DefyGG</div> 
              </div>
              <div class="col-6 chal-leftcard"> 
                <a href="stats" target="_blank" class="chal-solves"> 2 solves /  500 points</a>
              </div> 
            </div> 
            <div class="chal-divider"></div>
            <div class="chal-des"> 
              This is a cool test chall
              <div class="input-group mb-3 chal-submit"> 
                <input autocomplete="off" autocorrect="off" type="text" class="form-control" placeholder="Test" aria-label="Flag" aria-describedby="flag-btn-" style="background: #FAFAFA" id="a"> 
                <div class="input-group-append"> 
                  <button class="btn btn-outline-secondary" type="button" id="bu">Submit</button> 
                </div> 
              </div> 
            </div>
          
          </div>
        </div>
    </div>
  </div>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>
  <script src="../assets/vendor/purecounter/purecounter.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>

  <script src="../assets/js/main.js"></script>

</body>

</html>
